<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <!-- FIXME: figure out how to populate the below IP automagically -->
        <property name="connection.url"><![CDATA[jdbc:postgresql://35.227.71.234:26257/bank?ssl=true&sslcert=/tmp/certs/node.der&sslfactory=org.postgresql.ssl.NonValidatingFactory]]></property>
        <property name="connection.username">maxroach</property>
        <property name="connection.password">foo</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>

        <!-- Delete and recreate the database schema on startup, destroying previous data. -->
        <property name="hbm2ddl.auto">create</property>
    </session-factory>
</hibernate-configuration>
